h1, h2, p {
    background: linear-gradient(to bottom, #1a237e, #0d47a1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-style: italic;
}

p {
    font-size: 16px;
    line-height: 1.5;
}



